<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Card Details</title>
	<link rel="stylesheet" href="../web_payments_css.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
	<div class="section">
		<div class="cardSelectionCard">
			<div class="cardLogo"></div>
			<div>Ordered virtual card</div>
			<div class="cardNumber">**** **** **** ****</div>
			<div class="cardIssueInfo">
				<div>order date</div>
				<div>2017-07-06 12:30:47</div>
			</div>
			<div class="cardBottomInfo">
				<div class="currencyIndicator">eur</div>
				<div class="cardTypeLogo"></div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="cardDetailsInfo">
			<div class="cardDetailsLabel">Balance:</div>
			<div class="cardAmount">
				<div class="amountContainer">2.98</div>
				<div>EUR</div>	
			</div>
		</div>
		<div class="cardDetailsInfo">
			<div class="cardDetailsLabel">Available:</div>
			<div class="cardAmount">
				<div class="amountContainer">2.98</div>
				<div>EUR</div>	
			</div>
		</div>
		<div class="cardDetailsInfo">
			<div class="cardDetailsLabel">Valid:</div>
			<div class="cardAmount">
				<div class="amountContainer">07/19</div>
			</div>
		</div>
		<div class="cardDetailsInfo">
			<div class="cardDetailsLabel">Security code:</div>
			<div class="cardAmount">
				<div class="amountContainer">548</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="multipleButtons">
			<div class="buttonContainer">
				<div class="actionButton redButton">transactions</div>					
			</div>
			<div class="buttonContainer">
				<div class="actionButton redButton">top up card</div>					
			</div>
			<div class="buttonContainer">
				<div class="actionButton redButton">block card</div>					
			</div>
		</div>
	</div>
</body>
</html>