<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>History Item</title>
	<link rel="stylesheet" href="../web_payments_css.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
	<div class="history">
		<div>
			<div class="section">
				<div class="innerSection">
					<div class="splitInfoBlock">
						<div class="infoLeft">
							<div class="fieldLabel">status</div>
							<div>Comleted</div>
						</div>
						<div class="infoRight">
							<div class="fieldLabel">reference:</div>
							<div>1LvD8Q0T</div>
						</div>
					</div>
				</div>
				<div class="innerSection">
					<div class="splitInfoBlock">
						<div class="infoLeft">
							<div class="fieldLabel">amount</div>
							<div>-230.00 EUR</div>
						</div>
						<div class="infoRight">
							<div class="fieldLabel">fee:</div>
							<div>-2.50 EUR</div>
						</div>
					</div>
				</div>
				<div class="innerSection">
					<div class="splitInfoBlock">
						<div class="infoLeft">
							<div class="fieldLabel">from:</div>
							<div>258741963654</div>
						</div>
						<div class="infoRight">
							<div class="fieldLabel">to:</div>
							<div>N/A</div>
						</div>
					</div>
				</div>
				<div class="innerSection">
					<div class="splitInfoBlock">
						<div class="infoLeft">
							<div class="fieldLabel">created:</div>
							<div>19:34:48 12.04.2017</div>
						</div>
						<div class="infoRight">
							<div class="fieldLabel">updated:</div>
							<div>19:34:48 12.04.2017</div>
						</div>
					</div>
				</div>
				<div class="innerSection">
					<div class="fieldLabel">description</div>
					<div>Withdrawal WF#6568014 ["Swedbank", AB HABLV99]</div>
				</div>
				<div class="buttonContainer">
					<div class="actionButton redButton">repeat</div>					
				</div>
			</div>
		</div>
		<div class="block">
			<div class="itemHistory">
				<div class="fieldLabel">transactions:</div>
				<div class="section">
					<div class="historyItem">
						<div class="historyImage withdrawalImage"></div>
						<div class="historyAction">
							<div class="historyActionName">withdrawal fee</div>
						</div>
						<div class="historyInfo">
							<div class="historyDate">
								<div>12/04/2017 19:34:48</div>
							</div>
							<div class="historyAmount reduction">
								<div class="historyAmountNumber">							
									<div class="mainAmount">-2</div>
									<div class="restAmount">.50</div>
								</div>
								<div class="historyAmountCurrency">eur</div>
							</div>
						</div>
					</div>
					<div class="historyItem">
						<div class="historyImage withdrawalImage"></div>
						<div class="historyAction">
							<div class="historyActionName">withdrawal</div>
						</div>
						<div class="historyInfo">
							<div class="historyDate">
								<div>12/04/2017 12:34:48</div>
							</div>
							<div class="historyAmount increasing">
								<div class="historyAmountNumber">							
									<div class="mainAmount">230</div>
									<div class="restAmount">.00</div>
								</div>
								<div class="historyAmountCurrency">eur</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>