<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>History</title>
	<link rel="stylesheet" href="../web_payments_css.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
<!--	<div class="menu">
		<div class="headerMenuItem"><a href="index.html">home</a></div>
		<div class="headerMenuItem"><a href="deposit.html">deposit</a></div>
		<div class="headerMenuItem"><a href="withdrawal.html">withdrawal</a></div>
		<div class="headerMenuItem"><a href="transfer.html">internal transfer</a></div>
		<div class="headerMenuItem"><a href="history.html">history</a></div>
		<div class="headerMenuItem"><a href="cards.html">cards</a></div>
		<div class="headerMenuItem"><a href="send.html">send money</a></div>
	</div>-->
	<div class="history">
		<div>
			<div class="section">
				<div class="nameField">
					<div class="historyFieldLabel">type:</div>
					<div class="roundedField">
						<div>Choose...</div>
						<div class="arrowContainer">
							<div class="dropdownArrow"></div>
						</div>
					</div>
				</div>
				<div class="nameField">
					<div class="historyFieldLabel">status:</div>
					<div class="roundedField threeFourths">
						<div>Choose...</div>
						<div class="arrowContainer">
							<div class="dropdownArrow"></div>
						</div>
					</div>
				</div>
				<div class="nameField">
					<div class="historyFieldLabel">date:</div>
					<div class="roundedField threeFourths">
						<div>Choose...</div>
						<div class="arrowContainer">
							<div class="dropdownArrow"></div>
						</div>
					</div>
				</div>
				<input class="roundedField" placeholder="Phone or wallet number" />
			</div>
		</div>
		<div class="block">
			<div class="historyItem">
				<div class="historyImage withdrawalImage"></div>
				<div class="historyAction">
					<div class="historyActionName">withdrawal</div>
					<div class="historyActionData">Withdrawal WF#6568014 ["Swedbank", AB HABLV99]</div>
				</div>
				<div class="historyInfo">
					<div class="historyDate">
						<div>12/04/2017 19:34:48</div>
					</div>
					<div class="historyAmount reduction">
						<div class="historyAmountNumber">							
							<div class="mainAmount">-230</div>
							<div class="restAmount">.00</div>
						</div>
						<div class="historyAmountCurrency">eur</div>
					</div>
				</div>
			</div>
			<div class="historyItem">
				<div class="historyImage topupImage"></div>
				<div class="historyAction">
					<div class="historyActionName">incoming transfer</div>
					<div class="historyActionData">Trasnfer from the bank</div>
				</div>
				<div class="historyInfo">
					<div class="historyDate">
						<div>12/04/2017 12:34:48</div>
					</div>
					<div class="historyAmount increasing">
						<div class="historyAmountNumber">							
							<div class="mainAmount">235</div>
							<div class="restAmount">.53</div>
						</div>
						<div class="historyAmountCurrency">eur</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>